# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.vscode
config
logs


# gradle
build
.gradle
gradle

# other
eclipse
run
run-client
runs
run-data

repo
.VSCodeCounter
